In [2]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

# Project-3-Database
## Use SQL database to incorporate the data
Before we use python to connect with database and create the sp500.csv we executed simple sql querries in mySQL Workbench.
Those queries presented below:

\>> create database Quotes  ## to create and initialise an empty database with name Quotes 

\>> use Quoted              ## to use the created database

and finally we run sp500.sql to create and initialise the gspc table

At first, we initialise the connection with the database in order to execute queries throw this.

In [6]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [9]:
import mysql.connector
pw = "******" #passward needed
connection = create_db_connection('127.0.0.1', 'root', pw,  'Quotes')

MySQL Database connection successful

In [14]:
# Execute query to take the entire table
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")
        
        
q1 = """
SELECT *
FROM gspc;
"""

results = read_query(connection, q1)
data = []
for result in results:
  data.append(result)

In [15]:
type(data)

list

In [17]:
df = pd.DataFrame(data, columns=["Index ", "GSPC.Open", "GSPC.High", "GSPC.Low", "GSPC.Close", "GSPC.Volume", "GSPC.Adjusted"])
df

,Index,GSPC.Open,GSPC.High,GSPC.Low,GSPC.Close,GSPC.Volume,GSPC.Adjusted
0,1970-01-02,92.06,93.54,91.79,93.00,8050000,93.00
1,1970-01-05,93.00,94.25,92.53,93.46,11490000,93.46
2,1970-01-06,93.46,93.81,92.13,92.82,11460000,92.82
3,1970-01-07,92.82,93.38,91.93,92.63,10010000,92.63
4,1970-01-08,92.63,93.47,91.99,92.68,10670000,92.68
...,...,...,...,...,...,...,...
10017,2009-09-09,1025.36,1036.34,1023.97,1033.37,5202550000,1033.37
10018,2009-09-10,1032.99,1044.14,1028.04,1044.14,5191380000,1044.14
10019,2009-09-11,1043.92,1048.18,1038.40,1042.73,4922600000,1042.73
10020,2009-09-14,1040.15,1049.74,1035.00,1049.34,4979610000,1049.34
10021,2009-09-15,1049.03,1056.04,1043.42,1052.63,6185620000,1052.63

In [ ]:
df.to_csv('C:\Users/panag/Documents/pse/project/Project_3_-_ML_for_time_series_data/Project 3 - ML for time series data/')